/* Large Tablet Devices ----------- */

@media only screen
and (max-width : 1400px) {
.nav_header{padding: 55px 15px 30px;}
.banner{padding: 0 10px;}

.main_area{padding: 0 10px;}

.services{padding: 100px 10px 40px;}

[class^="service_"]{width: 32%;}

.achievements{padding: 0 10px;}

.ach_intro{width: 45%;padding: 20px 10px;}

.ach_list{width: 52%;}
[class^="achlist_"]{width: 48%;margin: 0 3px;}
footer{padding: 30px 10px;}
}

@media only screen
and (max-width : 1300px) {
main{width: calc(100% - 560px);}
[class^="achlist_"] h3{font-size: 25px;line-height: 100%;}
}


@media only screen
and (max-width : 1220px) {
.main_area{padding: 30px 10px;}
.services{padding: 30px 10px;}
.list_services{margin: 50px 0 0;}
[class^="service_"]{width: 31%;padding: 30px 10px;margin: 0 5px 30px;}
[class^="service_"] h3{font-size: 25px;}
}
@media only screen
and (max-width : 1200px) {
.banner_intro{width: auto;}
.title_heading{font-size: 60px;}
.banner_img{margin: 0 20px 0 0;}

main{transform: translate(0, 30%);}
.ach_list{padding: 70px 25px;}
[class^="achlist_"] h3{font-size: 20px;}
}


@media only screen
and (max-width : 1024px) {
.banner{min-height: 0;padding: 30px 10px;text-align: center;margin: 0;}
.banner_intro{float: none;padding: 0;position: absolute;right: 0;bottom: 30px;text-align: right;}
.banner_intro p{color: #AF6F39;}
.banner_intro a{display: inline-block;}
.banner_img{margin: 0;float: none;}
.banner_img:after{width: 530px;height: 780px;}
.title_heading{color: #FFB16F;}

.main_area{text-align: center;padding: 30px 10px;min-height: 0;}
main{float: none;display: block;width: 100%;transform: unset;margin: 0 0 40px;}
main h2{padding: 0;margin: 0 0 20px;}
main h2::before{display: none;}
main a{display: inline-block;}
.main_img{float: none;margin: 0;width: 100%;height: auto;}

.achievements{padding: 30px 10px;text-align: center;}
.ach_intro{float: none;padding: 0;display: block;width: 100%;margin: 0 0 40px;}
.ach_list{float: none;display: block;width: 100%;padding: 30px 10px;}



}

@media only screen
and (max-width : 1010px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }

[class^="service_"]{width: 45%;margin: 10px;}


}

@media only screen
and (max-width : 800px) {
.nav_header{min-height: 0;text-align: center;padding: 30px 10px;}
header{float: none;}
nav{float: none;padding-top: 20px;}
nav ul li a{padding: 0 10px;}

.banner{margin: 0;padding: 30px 0;}
.banner_img::after{display: none;}
.banner_intro{text-align: center;left: 0;background: rgba(0,0,0,0.2);padding: 20px 10px;bottom: 0;}
.banner_intro p{color: #fff;}

main h2{font-size: 40px;line-height: 40px;}

[class^="service_"]{margin: 10px 3px;}

}


@media only screen
and (max-width : 750px) {
[class^="service_"] h3{font-size: 22px;line-height: 22px;}
}
@media only screen
and (max-width : 600px) {
[class^="service_"]{display: block;margin: 0 0 15px;width: 100%;}
[class^="achlist_"]{display: block;width: 100%;margin: 0;}
[class^="achlist_"]:first-child{margin: 0 0 40px;}
}

/* Smartphones */
@media only screen
and (max-width : 500px) {
nav ul li{display: block;}
nav ul li a{display: block;padding: 10px 0;background-color: #a7a79b;margin: 0 0 5px;color: #fff;}
nav ul li a:hover{background-color: #DCCAB4;color:#000;}

.title_heading{font-size: 40px;line-height: 40px;}
.banner_intro p{font-size: 20px;line-height: 20px;}

.banner_intro a{width: 200px;height: 60px;padding: 17px 10px;margin: 20px 0 0;}

.services h2{font-size: 35px;line-height: 100%;}
.list_services{margin: 30px 0 0;}
.contact ul{margin: 20px 0 0;}
.contact ul li a{width: 50px;height: 50px;padding: 12px 0;margin: 0 5px;}
.contact ul li a img{width: 30px;height: 30px;}
.contact h3{font-size: 35px;}

.backto_top a{width: 35px;height: 35px;font-size: 20px;padding: 2px 0;}
}
